body{
  background-color: #fafafa;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.general-body{
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  margin: 25px;
  padding: 10px 0;
}

.insta-header {
  background-color: #fff;
  color: black;
  height: 52px;
  padding: 10px 20% 10px 20%;
}

.insta-logo{
  float: left;
}

.post-body{
  margin: 10px 20vw 10px 20vw;
  border: 1px solid grey;
  font-family: 'Proxima Nova', Georgia, sans-serif !important;
}
.post-wrap{
  padding: 5px;
}

.post-title{
  font-size: 13px;
  font-family: 'Proxima Nova', Georgia, sans-serif;
  text-align: left;
}

.post-likes{
  font-size: 13px;
  font-family: 'proxima_nova_altbold', Georgia, sans-serif;
  text-align: left;
  font-weight: bold !important;
}

.post-user{
  font-weight: 600 !important; 
}

.post-user-name{
  font-weight: 600 !important; 
  font-size: 13px;
  padding: 1px;
  height: 50%;
}

.post-user-info{
  height: 40px;
  padding: 20px;
  border-bottom: 1px solid black;
  text-align: left;
  display: flex;
}

.post-user-avatar{
  border-radius: 50%;
  width: 40px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.w10{
  width: 12%;
  /* display: inline; */
}

.w90{
  /* display: inline; */
  width: 70%;
}

.login{
  width: 350px;
}

.blue-button{
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  outline: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 280px;
  background: #3897f0;
  border-color: #3897f0;
  color: #fff;
  margin: 10px;
}

.terms{
  color: #999;
  margin: 10px 60px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.txt{
  width: 280px;
  -webkit-box-flex: 1;
  flex: 1 0 0px;
  margin: 5px;
  outline: 0;
  overflow: hidden;
  padding: 9px 0 7px 8px;
  text-overflow: ellipsis;
  background: #fafafa;
  font-size: 14px;
  line-height: 18px;  
  color: #262626;
  border: 1px solid #efefef;
  border-radius: 3px;
}

.or{
  color: #262626 !important;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
